<%- include ('partials/_principal-header.ejs')%>

<div class="container">
    <div class="row">
        <!-- <img id="container__imageSuccess" src="/images/success.png" alt=""> -->
        <p id="success__image" ><i class="fas fa-exclamation-circle"></i></p>
    </div>
    <div class="row"></div>
    <div class="row">
        <p id="success__text"><i class="fas fa-times"></i>Ups! Ha ocurrido un error</p>
    </div>
    <div class="row">
        <a id="success__redirection" href="/">Click to continue</a>
    </div>
</div>



<%- include ('partials/_footer.ejs')%>